.hero {
  $hero-color: white;

  background: $red;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      h3 {
        background: $base-accent-color;
        color: white;
        display: inline-block;
        font-size: .7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 3px 8px;
        text-transform: uppercase;

        @include media($large-screen) {
          margin-bottom: 1em;
        }
      }

      p {
        font-family: $serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
