$side-image-background-bottom: #5DAC5D;
$side-image-background-color: $barkigray;
$side-image-border: 1px solid darken(transparentize($side-image-background-color, .8), 30);

.pet-box {
  $wrappers-padding: 2em;
  background: #F9F9F9;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background($gradient-background);
    background-color: $side-image-background-color;
    border-bottom: $side-image-border;
    background-size: cover;
    display: block;
    padding: 1em $wrappers-padding;
    text-align: center;

    a {
      display: inline-block;
    }

    img {
      width: 100%;
    }

    @include media($large-screen) {
      @include span-columns(3);
      border-right: $side-image-border;
      padding: $wrappers-padding;
    }

    .barkibanner {
      display: table-row;
      vertical-align: top;
      padding: 0;
      margin: 0;

      img, h1 {
        display: table-cell;
        vertical-align: top;
      }

      img {
        height: auto;
        width: 150px;
      }

      h1 {
        $background-logo-height: 30px;
        color: white;
        text-align: left;
        padding: {
          left: 1em;
          bottom: $background-logo-height + 15;
        }
        background: {
          image: asset-url('horizontal-blanco.png');
          repeat: no-repeat;
          position: bottom right ;
          size: auto $background-logo-height;
        }
      }

      @include media($large-screen) {
        img, h1 {
          display: block;
        }

        img {
          width: 100%;
        }

        h1 {
          padding-left: 0;
          margin-top: 1em;
        }
      }
    }
  }

  .content {
    @include span-columns(12);
    padding: $wrappers-padding;
    vertical-align: top;

    @include media($large-screen) {
      @include span-columns(9);
    }
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    background: $side-image-background-bottom;
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: $base-font-color;
    margin: 1.5em 0;
  }

  .content {
    .content-header {
      .main-image {
        img {
          width: 100%;
        }
      }

      h1 {
        margin: 0;
      }

      p {
        margin: 0;
      }

      @include media($large-screen) {
        display: table-row;

        .main-image, .data {
          display: table-cell;
          vertical-align: top;
        }

        .main-image {
          width: 33%;
          padding-right: $wrappers-padding / 2;
        }
      }
    }

    .images {
      img {
        height: 5em;

        @include media($large-screen) {
          height: 4em;
        }
      }
    }

    .adopt-buttons{
      margin-top: 1em;
      button {
        @include button(simple, white);
        font-size: $base-font-size;
        outline: none;
      }
    }

    .card-stats {
      padding-left: 0;
    }
  }

  @include reset-display();
}
