$side-image-background-bottom: #5DAC5D;

.pet-box {
  $wrappers-padding: 2em;
  background: #F9F9F9;

  .content {
    padding: $wrappers-padding;
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    background: $side-image-background-bottom;
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  .content p {
    color: $base-font-color;
    margin: 1.5em 0;
  }

  .content {
    .content-header {
      .main-image {
        img {
          width: 100%;
        }
      }

      h1 {
        margin: 0;
      }

      p {
        margin: 0;
      }

      @include media($large-screen) {
        display: table-row;

        .main-image, .data {
          display: table-cell;
          vertical-align: top;
        }

        .main-image {
          width: 33%;
          padding-right: $wrappers-padding / 2;
        }
      }
    }

    .images {
      img {
        height: 5em;

        @include media($large-screen) {
          height: 4em;
        }
      }
    }

    .adopt-buttons{
      margin-top: 1em;
      button {
        @include button(simple, white);
        font-size: $base-font-size;
        outline: none;
      }
    }

    .card-stats {
      padding-left: 0;
    }
  }

  @include reset-display();
}
