button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

$navigation-nav-button-background: $base-accent-color;
.control-link {
  margin-top: 1.2em;
  @include transition (all 0.2s ease-in-out);
  display: inline;
  background: $navigation-nav-button-background;
  border-radius: $base-border-radius;
  color: white;
  font-size: .8em;
  font-weight: 800;
  text-transform: uppercase;
  padding: .4em .5em;
  margin: .15em;
  display: inline-block;

  @include media($large-screen) {
    padding: .5em 1em;
  }

  &:hover {
    background: lighten($navigation-nav-button-background, 10);
  }
}
