.bullets
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-1
    .bullet-content
      %h2 Serás más feliz
      %p
        Está demostrado científicamente que
        = link_to 'convivir con animales', page_path('adoptar')
        ayuda a reducir los niveles de estrés y a disfrutar más de la vida. También ayuda a los niños a crecer más sanos y a respetar la vida animal.
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-2
    .bullet-content
      %h2 Salvas dos vidas
      %p
        Si compras una mascota, solo contribuyes al beneficio del comerciante.
        Pero cuando adoptas, estás salvándole la vida a tu nueva mascota y a la que puede entrar a ocupar su lugar en la protectora.
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-3
    .bullet-content
      %h2 Ahorras dinero
      %p
        Aunque muchas protectoras no piden ninguna donación, el importe de esta siempre será menor que los precios de un criador. Además, tu donación facilita la importante labor de estas organizaciones.
