.bullets
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-1
    .bullet-content
      %h2 Serás más feliz
      %p Está demostrado científicamente que convivir con animales ayuda a reducir los niveles de estrés y a disfrutar más de la vida. También ayuda a los niños a crecer más sanos y a respetar la vida animal.
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-2
    .bullet-content
      %h2 Te regalamos Barkibu
      %p Te regalamos consultas veterinarias ilimitadas en Barkibu.com durante los tres primeros meses de adopción para que resuelvas cualquier duda que tengas con tu nuevo amigo.
  .bullet.three-col-bullet
    .bullet-icon.bullet-icon-3
    .bullet-content
      %h2 Donaremos 1€ al mes
      %p Además, por cada perro adoptado a través de BarkiAdopta, donaremos un 1€ al mes a una protectora de animales. Ya donamos a más de 80 asociaciones protectoras todos los meses.
