.hero
  .hero-inner
    .hero-copy
      %h3= title
      %h1= SEO.extra_title(@specie)
      %p BarkiAdopta es el primer buscador de mascotas en adopción de España, puedes buscar entre miles de perros, gatos y otros animales de todas las protectoras de España.
    = button_to 'Anunciar mascota', new_pet_path, rel: 'nofollow', method: :get
