.hero
  .hero-inner
    .hero-copy
      %h3= title
      %h1= SEO.extra_title(@specie)
      %p BarkiAdopta es el primer buscador de mascotas en adopci칩n de Espa침a, puedes buscar entre miles de perros, gatos y otros animales de centros de adopci칩n de toda Espa침a.
    = button_to 'Anunciar mascota', new_pet_path, rel: 'nofollow', method: :get
