.cards
  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
    .card-header
      Perrito Guay
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          3 años
          %span Edad
        %li
          pequeño
          %span Tamaño
        %li
          Madrid
          %span Lugar
  .card
    .ribbon-wrapper
      .ribbon URGENTE
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
    .card-header
      Gatito happy
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          6 meses
          %span Edad
        %li
          normal
          %span Tamaño
        %li
          Barcelona
          %span Lugar
  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}/
    .card-header
      Perro viejete
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          12 años
          %span Edad
        %li
          Mediano
          %span Tamaño
        %li
          Vigo
          %span Lugar
  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
    .card-header
      Perrito Guay
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          3 años
          %span Edad
        %li
          pequeño
          %span Tamaño
        %li
          Madrid
          %span Lugar
  .card
    .ribbon-wrapper
      .ribbon URGENTE
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
    .card-header
      Gatito happy
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          6 meses
          %span Edad
        %li
          normal
          %span Tamaño
        %li
          Barcelona
          %span Lugar
  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}/
    .card-header
      Perro viejete
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          12 años
          %span Edad
        %li
          Mediano
          %span Tamaño
        %li
          Vigo
          %span Lugar
  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
    .card-header
      Perrito Guay
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          3 años
          %span Edad
        %li
          pequeño
          %span Tamaño
        %li
          Madrid
          %span Lugar
  .card
    .ribbon-wrapper
      .ribbon URGENTE
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png"}/
    .card-header
      Gatito happy
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          6 meses
          %span Edad
        %li
          normal
          %span Tamaño
        %li
          Barcelona
          %span Lugar
  .card
    .card-image
      %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png"}/
    .card-header
      Perro viejete
    .card-copy
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
    .card-stats
      %ul
        %li
          12 años
          %span Edad
        %li
          Mediano
          %span Tamaño
        %li
          Vigo
          %span Lugar