%ul.accordion-tabs-minimal
  - Specie.keys.each do |specie_key|
    %li.tab-header-and-content
      - specie = Specie.find_by_key(specie_key)
      = tab_link_for_specie specie
      .tab-content
        %ul.pet-count-and-province
          - specie_key = nil if specie_key == :pet
          - count = Pet.count_by_province(specie_key)
          - count.keys.sort.each do |province_id|
            - province = Province.find(province_id)
            %li
              %span= count[province_id]
              = link_province_path specie, province
