%ul.accordion-tabs-minimal
  - Specie.keys_without_pet.each do |specie|
    %li.tab-header-and-content
      = tab_link_for_specie(specie)
      .tab-content
        %ul.pet-count-and-province
          - count = Pet.count_by_province(specie)
          - count.keys.sort.each do |province_id|
            - province = Province.find(province_id)
            %li
              %span= count[province_id]
              = link_province_path specie, province
