%section
  .intro-text
    %h3 Adopta una mascota
    %h2
    %h4 Tendrás un amigo fiel para toda la vida que te ayudará a sonreír hasta en los momentos más difíciles.
    %p
      Ahora con "BarkiAdopta (Cambiar nombre)" puedes buscar entre miles de perros, gatos y otros animales de todas las protectoras de España. Así encontrás a tu mascota ideal.
      %a{:href => ""}
        Leer más
        %span »
%section
  .line-behind-text
    %h6#er-toc-id-9.er_toc_tag Usa nuestro Buscador de mascotas adorables
  = render "search_box"
%section
  .cards
    = render @pets
  = paginate @pets

%section
  .line-behind-text
    %h6#er-toc-id-9.er_toc_tag Ventajas de adoptar unas mascota frente a comprarla
  = render "benefits"
