%section
  %article
    %h1 Motivos para adoptar a una mascota
    %hr
    %p Aquí tienes una lista de motivos por los que creemos que deberías adoptar a una mascota.

    %ul.bulleted{ style: 'margin-bottom: 16px' }
      %li
        %b Mejoras su vida y también la tuya.
        Estarás ayudando a otro ser vivo que no lo ha tenido fácil y que te devolverá por mil todo el cariño que le des.

      %li
        %b Te hará feliz.
        No solo son los mejores amigos de los niños y personas mayores; también mejorarán tu forma física y te harán sentir más contento y relajado.

      %li
        %b ¡No existe un amor igual!
        Aquí encontrarás perros y gatos de protectoras y asociaciones colaboradoras, de todo tipo de razas, edades y tamaños. Te ayudamos a encontrar a tu compañero ideal.

      %li
        %b Su salud es lo primero para nosotros.
        Los animales cuentan con un cuidado veterinario constante, y han sido vacunados y desparasitados.

    %h5 Una adopción responsable
    %p Como ves, adoptar es algo maravilloso que puedes hacer por otro ser vivo.
    %p
      En Kiwoko apostamos por una
      = succeed '.' do
        %b adopción responsable
      Por eso, antes de adoptar piensa en si tienes tiempo suficiente, si es un buen momento y si el espacio de tu hogar es adecuado. Si la respuesta es afirmativa, y crees que una mascota encaja con tu estilo de vida, ¡te ayudamos a encontrar al mejor compañero para ti!

    %h5 Siempre puedes ayudar
    %p Recuerda que hay otras formas en las que puedes ayudar, apadrinando o colaborando como voluntario. En muchas protectoras necesitan ayuda, y con un poco de tiempo podrás ayudar a que muchas mascotas tengan una vida más digna y feliz.

    %hr/
    %p.author El equipo de Barkibu y Kiwoko
