%section
  %article
    %h1 Motivos para adoptar a una mascota
    %hr
    %p Aquí tienes una lista de motivos por las que creemos que deberías adoptar a una mascota.

    %h4 Salvar dos vidas
    %p En el momento en que adoptes una mascota estarás salvando dos vidas. En primer lugar, a tu nuevo amigo que te estará siempre agradecido; y en segundo lugar, habrás dejado un hueco que podrán ocupar con otra mascota necesitada.

    %h4 Una mascota sana
    %p En la mayoría de protectoras y centros de acogida se facilita atención primaria a todos los animales. Garantizando un animal sano que ha sido vacunado, desparasitado y esterilizado o castrado.

    %h4 Ahorro de dinero
    %p Además de proporcionar un hogar a tu nueva mascota, estarás contribuyendo a la labor de las protectoras, asociaciones, centros de acogida...
    %p En algunos de estos sitios es obligatorio hacer una donación y otros no. Pero no estará de más poder ayudar a que se estos animales puede estar mejor atendidos mientras esperan a que alguien les adopte.
    %p Incluso con esta donación estarás ahorrando respecto a comprar una mascota en una tienda o a criadores.

    %h4 Beneficios para tu salud
    %p Está demostrado científicamente que convivir con animales ayuda a reducir los niveles de estrés y a disfrutar más de la vida. También ayuda a los niños a crecer más sanos y a respetar la vida animal.
    %p Obtendrás la satisfacción de devolver a tu mascota la salud y también el amor por los humanos.

    %h4 Encuentra a tu amigo ideal
    %p Ante la variedad de razas y cruces podrás encontrar la mascota perfecta para ti.

    %h4 Siempre puedes ayudar
    %p Y si no puedes adoptar, también puedes apadrinar. En muchas protectoras necesitan ayuda, y con un poco de tiempo y una aportación mensual podrás ayudar a que muchas mascotas tengan una vida más digna.

    %hr/
    %p.author El equipo de Barkibu
