%section
  %article
    %h1 ¿Eres una asociación o protectora de animales?
    %hr
    %p Esto es lo que podemos hacer para ayudarte:

    %ol.default
      %li
        1.
        = link_to 'Kiwoko', 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Todo lo que tu mascota necesita'
        tiene un programa de colaboración con protectoras locales y ONGs de animales. En todos los centros hay disponible un espacio de donaciones para realizar aportaciones. Si quieres que colaboremos juntos no dudes en contactarnos.
      %li
        2. Barkibu proporciona
        = link_to 'consultas veterinarias online gratuitas', 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Consulta un veterinario online las 24 horas'
        las 24 horas del día para todas las mascotas del mundo. Cualquier duda sobre vuestros animales será resuelta por veterinarios profesionales.
      %li
        3. A través de las redes sociales de Barkibu y Kiwoko damos difusión a protectoras y sus animales con el fin de ayudarles a encontrar las mejores familias dispuestas a adoptar.
      %li
        4. ¿Qué necesitas y en qué crees que podemos ayudarte? Aunque no sea ninguno de los puntos anteriores,
        = link_to 'cuéntanos', new_contact_path
        cómo podríamos ayudarte y lo intentaremos.

    %hr/
    %p.author El equipo de Barkibu y Kiwoko
