%section
  %article
    %h1 ¿Eres una asociación o protectora de animales?
    %hr
    %p Esto es lo que podemos hacer para ayudarte:

    %ol.numbered
      %li
        = link_to 'Kiwoko', 'https://www.kiwoko.com/centros-de-adopcion.html?utm_source=kiwokoadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Todo lo que tu mascota necesita'
        tiene un programa de colaboración con protectoras locales y ONGs de animales. En todos los centros hay disponible un espacio de donaciones para realizar aportaciones. Si quieres que colaboremos no dudes en contactarnos.
      %li
        A través de las redes sociales de Kiwoko y Barkibu damos difusión a protectoras y sus animales con el fin de ayudarles a encontrar las mejores familias dispuestas a adoptar.
      %li
        Barkibu proporciona
        = link_to 'consultas veterinarias online gratuitas', 'http://www.barkibu.com/?utm_source=kiwokoadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Consulta un veterinario online las 24 horas'
        las 24 horas del día para todas las mascotas. Cualquier duda sobre vuestros animales será resuelta por veterinarios profesionales.
      %li
        ¿Qué necesitas y en qué crees que podemos ayudarte? Aunque no sea ninguno de los puntos anteriores,
        = link_to 'cuéntanos', new_contact_path
        cómo podríamos ayudarte y lo intentaremos.

    %p
      Visita nuestra web
      = link_to 'www.kiwoko.com', 'https://www.kiwoko.com/centros-de-adopcion.html'
      para ponerte en contacto con nosotros.

    %hr/
    %p.author El equipo de Barkibu y Kiwoko
