@import url(http://fonts.googleapis.com/css?family=Questrial);

$logo-proportions: 834 / 603;
$logo-height: 23px;
$logo-width: $logo-height * $logo-proportions;
$logo-text-spacing: $logo-height / 3.38;
$logo-text-color: #738c99;
$logo-dog-color: #2eaadc;

#barkibar {
  -webkit-font-smoothing: auto;
  margin: 0;
  padding: 15px 10px 0;
  font: {
    family: "Questrial", sans-serif;
    size: $logo-height * 0.8;
  }
  color: $logo-text-color;
  letter-spacing: -$logo-height / 160;
  background-color: #f2f2f2;

  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s linear;

    &:hover {
      color: $logo-dog-color;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;

    a {
      display: block;
      line-height: $logo-height * 1.17;
    }

    &:first-child
      a {
        background: {
          image: asset-url('dog-logo.png');
          repeat: no-repeat;
          position: left top;
          size: auto $logo-height;
        }
        padding: {
          left: $logo-width + $logo-text-spacing;
          top: 0;
          bottom: 10px;
        }
      }

    &.current {
      color: $logo-dog-color;
    }
  }
}
