//= require magnific-popup

@charset 'utf-8';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';
@import 'flashes';
@import 'header';
@import 'footer';
@import 'views/home';
@import 'views/pet';

section {
  @include outer-container;
  $vertical-margin: 2em;
  margin: {
    top: $vertical-margin;
    bottom: $vertical-margin;
  }
  padding: 0 1em 1em;
  position: relative;
}

.line-behind-text {
  border-bottom: 1px solid #CACACA;
  text-align: center;
  margin-bottom: 1.8em;
  h6 {
    background: white;
    color: gray;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 34px;
  }
}

h6 {
  margin-bottom: 1.5em;
}
