%p
  !Hola #{@resource.email}!
%p Alguien ha pedido el enlace para cambiar la contraseña. Puedes hacerlo con el siguiente enlace:
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si tú no lo pediste, por favor, ignora este e-mail.
%p Tu contraseña no cambiará hasta que accedas al enlace y crees uno nuevo.
