%ul#barkibar
  %li
    %a{ href: 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal' } barkibu
  %li
    %a{ href: 'http://www.barkinews.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal' } barkiNews
  %li.current
    %a{ href: 'http://www.barkiadopta.org' } barkiAdopta
