%footer.footer
  .footer-logo
    = image_tag 'https://s3-eu-west-1.amazonaws.com/barkibu/logos/horizontal-blanco.png'
  .footer-links
    %ul
      %li
        %h3 En Adopciones Barkibu
      %li
        %a{href: "javascript:void(0)"} Nosotros
      %li
        %a{href: "javascript:void(0)"} Ayudas para protectoras
      %li
        %a{href: "javascript:void(0)"} Salud animal
    %ul
      %li
        %h3 Síguenos
      %li
        %a{href: "javascript:void(0)"} Facebook
      %li
        %a{href: "javascript:void(0)"} Twitter
      %li
        %a{href: "javascript:void(0)"} Pinterest
    %ul
      %li
        %h3 Legal
      %li
        %a{href: "javascript:void(0)"} Terms and Conditions
      %li
        %a{href: "javascript:void(0)"} Privacy Policy
  %hr/
  %p
    Adopciones es una iniciativa sin ánimo de lucro de
    = link_to 'Barkibu', 'http://www.barkibu.com'
