%footer.footer
  .footer-logo
    = image_tag 'horizontal-blanco.png'
  .footer-links
    %ul
      %li
        %h3 En Adopciones Barkibu
      %li
        %a{href: "javascript:void(0)"} Nosotros
      %li
        %a{href: "javascript:void(0)"} Ayudas para protectoras
      %li
        %a{href: "http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal"} Salud animal
    %ul
      %li
        %h3 Síguenos
      %li
        %a{href: "http://www.facebook.com/barkibu"} Facebook
      %li
        %a{href: "https://twitter.com/Barkibu"} Twitter
      %li
        %a{href: "http://www.pinterest.com/Barkibu_/"} Pinterest
      %li= link_to 'Blog', 'http://www.barkinews.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal', title: 'Blog sobre mascotas'
    %ul
      %li
        %h3 Legal
      %li
        %a{href: "javascript:void(0)"} Terms and Conditions
      %li
        %a{href: "javascript:void(0)"} Privacy Policy
  %hr/
  %p
    Adopciones es una iniciativa sin ánimo de lucro de
    = link_to 'Barkibu consultas veterinarinarias online', 'http://www.barkibu.com/?utm_source=barkiadopta.org&utm_medium=referral&utm_campaign=universal'
